@import './base.css';

:root {
  --color-primary: #6366f1;
  --color-primary-foreground: white;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary\/10 {
  background-color: rgba(99, 102, 241, 0.1);
}

.text-primary {
  color: var(--color-primary);
}

.text-primary\/80 {
  color: rgba(99, 102, 241, 0.8);
}